<md-content layout="row" layout-align="center start" layout-padding flex>
  <md-card style="width: 500px;">
    <md-card-title>
      <md-card-title-text>
        <span class="md-display-1">Sign up please</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column" style="margin-top: 20px;">
      <md-input-container style="margin: 0;">
        <label>Email</label>
        <input ng-model="self.email" no-complete type="email">
      </md-input-container>
      <div layout="row">
        <md-input-container flex style="margin: 0;">
          <label>Password</label>
          <input ng-model="self.password" no-complete type="password">
        </md-input-container>
        <md-input-container flex style="margin: 0;">
          <label>Password Confirmation</label>
          <input ng-model="self.passwordConfirmation" no-complete type="password">
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container flex>
          <label>Salary day</label>
          <input type="number" autocomplete="off" no-complete ng-model="self.salaryDay">
        </md-input-container>
        <md-input-container flex>
          <label>Salary Currency</label>
          <md-select ng-model="self.salaryCurrencyCode">
            <md-option ng-repeat="code in self.currencyCodes" value="{{code}}">{{code}}</md-option>
          </md-select>
        </md-input-container>
      </div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="self.signUp()">Sign Up</md-button>
    </md-card-actions>
  </md-card>
</md-content>
