.md-fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.md-fab i {
    position: absolute;
    top: 17px;
    left: 16.5px;
}

md-nav-bar div {
    display: flex;
}

md-nav-bar .md-nav-bar {
    border-color: transparent;
}

.md-button.sign-out-button {
    color: rgb(197, 202, 233);
}

.md-button.sign-out-button:hover {
    background-color: transparent;
}

.profile-navbar-item {
    text-transform: none;
}

md-table-pagination.md-table-pagination {
    justify-content: flex-start;
}

md-dialog.md-dialog-modal {
    max-height: 95%;
}

div.md-select-box {
    margin-bottom: 20px;
}

div.md-select-box label {
    color: rgba(0, 0, 0, 0.38);
    margin-bottom: 20px;
}

@media only screen and (min-width: 600px) {
    md-dialog {
        min-width: 350px;
    }
}

@media only screen and (min-width: 960px) {
    md-dialog {
        min-width: 500px;
    }
}

.flex-container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row {
    width: auto;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.html-404 {
    padding: 30px 10px;
    font-size: 20px;
    line-height: 1.4;
    color: #737373;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.body-404 {
    max-width: 500px;
    padding: 30px 20px 50px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    margin: 0 auto;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
    background: #fcfcfc;
}

.h1-404 {
    margin: 0 10px;
    font-size: 50px;
    text-align: center;
}

.h1-span-404 {
    color: #bbb;
}

.h3-404 {
    margin: 1.5em 0 0.5em;
}

.p-404 {
    margin: 1em 0;
}

.ul-404 {
    padding: 0 0 0 40px;
    margin: 1em 0;
}

.container-404 {
    max-width: 380px;
    margin: 0 auto;
}

.header {
    font-weight: 500;
    font-size: 1.17em;
    margin: 0;
    padding: 0;
}

.forecast {
    margin: 0;
    font-weight: 100;
    font-size: 0.85em;
}

.md-card-width {
    min-width: 280px
}

